body {
    background-color: rgb(59, 73, 35);
    color : white;
    font-family:'Times New Roman', Times, serif;
}

.cesarroberto {
    text-align : center;
    
}

img {
    border-width: 15px;
    border-style:outset;
    border-radius: 20px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color : white;
    
}

h3 {
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    color : white
}

a:visited{
    color: white;
}

a {
    color: white;
}