.esqcima {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
}

.esqbaixo {
    background-color: green;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
}

.dircima {
    background-color: yellow;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 150px;
    width: 150px;
}

.dirbaixo {
    background-color: blue;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 150px;
    width: 150px;
}